body {
  background-color: #ededed;
  font-family: "Roboto Condensed", sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

button a {
  color: black;
}

button a:hover {
  color: white;
}

.navbar {
  background-color: rgb(37, 37, 37);
}

.top {
  transition: 0.25s ease-in-out 0s;
}
.scrolled {
  transition: 0.25s ease-in-out 0s;
  box-shadow: 0px 6px 10px 0px rgba(191, 191, 191, 0.75);
  background-color: rgb(37, 37, 37);
}

.nav-item {
  padding-left: 4.5rem;
  font-weight: 400;
  color: white;
}

.nav-link {
  color: white !important;
}

#Hero {
  padding-top: 13rem;
  padding-bottom: 13rem;
  background-color: rgb(37, 37, 37);
}

#Hey {
  color: white;
  font-weight: 400;
  font-size: 2.5rem;
}
#Ilyas {
  color: white;
  font-size: 3.5rem;
  font-weight: 700;
}
#Desc {
  color: white;
  font-size: 2rem;
  font-weight: 400;
}

#Services {
  margin-top: 5rem;
  margin-bottom: 8rem;
}

#About {
  padding-top: 5rem;
  padding-bottom: 5rem;
  margin-top: 5rem;
  margin-bottom: 10rem;
  background-color: rgb(37, 37, 37);
  color: white;
}

#Contact {
}

.btn {
  border-radius: 12px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-right: 1rem;
  width: 10rem;
}

.subtitle {
  color: #eba31d;
}

svg {
  color: #eba31d;
}

.service {
}
.primary {
  background-color: #eba31d;
  color: black;
}

.secondary {
  color: white;
  background-color: #818181;
}

img {
  max-width: 75%;
}

.row {
  height: 100%;
}

.blogTitle {
  font-size: xx-large;
  font-weight: bold;
}
.blogContentPc {
  font-size: larger;
  padding-left: 10rem;
  padding-right: 10rem;
}

.blogContentMobile {
  font-size: larger;
}
.blogSubTitle {
  font-size: x-large;
  font-weight: bold;
  font-style: italic;
}

.blogInnerLink {
}

#articleCol a {
  color: black;
  text-decoration: none;
}

#articleCol a:hover {
  color: rgb(73, 73, 73);
  text-decoration: none;
}

input {
  width: 80%;
}

footer {
  background-color: rgb(37, 37, 37);
  color: white;
}
footer a {
  color: white;
}
